parameters:
	ignoreErrors:
		-
			message: "#^Method Sonata\\\\Doctrine\\\\Entity\\\\BaseEntityManager\\:\\:getRepository\\(\\) return type with generic class Doctrine\\\\ORM\\\\EntityRepository does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Adapter/ORM/AbstractEntityManager.php

		-
			message: "#^Method Core23\\\\Doctrine\\\\Adapter\\\\ORM\\\\AbstractEntityManager\\:\\:addOrderField\\(\\) has parameter \\$aliasMapping with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Adapter/ORM/AbstractEntityManager.php

		-
			message: "#^Cannot call method end\\(\\) on Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\|null\\.$#"
			count: 1
			path: src/Bridge/Symfony/DependencyInjection/Configuration.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and ReflectionClass will always evaluate to false\\.$#"
			count: 1
			path: src/EventListener/ORM/ConfirmableListener.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and ReflectionClass will always evaluate to false\\.$#"
			count: 1
			path: src/EventListener/ORM/DeletableListener.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and ReflectionClass will always evaluate to false\\.$#"
			count: 1
			path: src/EventListener/ORM/LifecycleDateListener.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and ReflectionClass will always evaluate to false\\.$#"
			count: 1
			path: src/EventListener/ORM/SortableListener.php

		-
			message: "#^Method Core23\\\\Doctrine\\\\EventListener\\\\ORM\\\\TablePrefixEventListener\\:\\:evaluteMapping\\(\\) has parameter \\$mapping with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EventListener/ORM/TablePrefixEventListener.php

		-
			message: "#^Method Core23\\\\Doctrine\\\\EventListener\\\\ORM\\\\TablePrefixEventListener\\:\\:addSequenceGenerator\\(\\) has parameter \\$definition with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/EventListener/ORM/TablePrefixEventListener.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and ReflectionClass will always evaluate to false\\.$#"
			count: 1
			path: src/EventListener/ORM/UniqueActiveListener.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Client not found\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/BundleIntegrationTest.php

		-
			message: "#^Call to method request\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/BundleIntegrationTest.php

		-
			message: "#^Call to method getResponse\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Client\\.$#"
			count: 1
			path: tests/Bridge/Symfony/Bundle/BundleIntegrationTest.php

		-
			message: "#^Method Core23\\\\Doctrine\\\\Tests\\\\Fixtures\\\\DemoEntityManager\\:\\:searchWhereQueryBuilder\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Fixtures/DemoEntityManager.php

		-
			message: "#^Method Core23\\\\Doctrine\\\\Tests\\\\Fixtures\\\\DemoEntityManager\\:\\:addOrderToQueryBuilder\\(\\) has parameter \\$aliasMapping with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Fixtures/DemoEntityManager.php

		-
			message: "#^Method Core23\\\\Doctrine\\\\Tests\\\\Fixtures\\\\DemoEntityManager\\:\\:addOrderToQueryBuilder\\(\\) has parameter \\$sort with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Fixtures/DemoEntityManager.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:getConfirmedAt\\(\\)\\.$#"
			count: 4
			path: tests/Model/Traits/ConfirmableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:isConfirmed\\(\\)\\.$#"
			count: 4
			path: tests/Model/Traits/ConfirmableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:setConfirmed\\(\\)\\.$#"
			count: 2
			path: tests/Model/Traits/ConfirmableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:setConfirmedAt\\(\\)\\.$#"
			count: 1
			path: tests/Model/Traits/ConfirmableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:getDeletedAt\\(\\)\\.$#"
			count: 4
			path: tests/Model/Traits/DeleteableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:isDeleted\\(\\)\\.$#"
			count: 4
			path: tests/Model/Traits/DeleteableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:setDeleted\\(\\)\\.$#"
			count: 2
			path: tests/Model/Traits/DeleteableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:setDeletedAt\\(\\)\\.$#"
			count: 1
			path: tests/Model/Traits/DeleteableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:getCreatedAt\\(\\)\\.$#"
			count: 4
			path: tests/Model/Traits/LifecycleDateTimeTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:setCreatedAt\\(\\)\\.$#"
			count: 2
			path: tests/Model/Traits/LifecycleDateTimeTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:setUpdatedAt\\(\\)\\.$#"
			count: 2
			path: tests/Model/Traits/LifecycleDateTimeTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:getUpdatedAt\\(\\)\\.$#"
			count: 2
			path: tests/Model/Traits/LifecycleDateTimeTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:getPosition\\(\\)\\.$#"
			count: 2
			path: tests/Model/Traits/SortableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:setPosition\\(\\)\\.$#"
			count: 1
			path: tests/Model/Traits/SortableTraitTest.php

		-
			message: "#^Call to an undefined method PHPUnit\\\\Framework\\\\MockObject\\\\MockObject\\:\\:getPositionGroup\\(\\)\\.$#"
			count: 1
			path: tests/Model/Traits/SortableTraitTest.php

